.header {
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.content{
  min-height: 70vh;
  min-width: 90vw;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
